*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    text-decoration: underline;
    
}
#hlink{
    color: gray;
    
}
.container{
    display: grid;
    width: 745px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 12px;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    padding: 12px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 12px;
    grid-template-areas: 
    "word1 design1"
    "word2 design2"
    "word3 design3";
}
#box-1{
    grid-area: word1;
    
}
#box-2{
    grid-area: design1;
    
}
#box-3{
    grid-area: word2;
    
}
#box-4{
    grid-area: design2;
    
}
#box-5{
    grid-area: word3;
    
}
#box-6{
    grid-area: design3;
   
}
.box{
    border: 1px solid black;
    padding: 12px;
    border-radius: 12px;
    height: 150px;
    width: 350px;
  
}
.box:hover{
    border-radius: 0.3em;
    transition: 0.2s;
    transform: scale(1.01);
    border: 9px solid gray;
   
}
.rel-blog{
    color: brown;
    font-weight: 900;
}
.rel-blog2{
    color: green;
    font-weight: 900;
}
